<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='css/main.css'>
    <title>Max Objects Database</title>
</head>


<body>
<!--Bootstrap navbar-->
<nav class='navbar navbar-expand-lg'>
    <div class='container-fluid'>
        <a class='navbar-brand' id='navBarTitle' href='/'>
            <img src="/images/max8Icon.png" alt="The max 8 icon." width="45" height="40"><b> Max Objects
            Database</b></a>
        <span class="navbar-text">
            <!-- Modal trigger -->
                <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signinModal"><b>Sign In</b></a>
        </span>
    </div>
</nav>


<!--Login modal-->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form class="form-signin input-group-sm">
                    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required autofocus>

                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" class="form-control" required autofocus>

                    <button class="btn mt-1">Sign In</button>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn mx-auto" data-bs-toggle="modal" data-bs-target="#loginModal"><b>Register</b></a>
            </div>
        </div>
    </div>
</div>


<!-- original Search bar
<div class="searchGroup">
    <div class="container">
        <div class="input-group mt-5">
            <button id="myDropdown" class="btn dropdown-toggle" data-bs-toggle="dropdown"> All</button>
            <ul class="dropdown-menu">
                <li>
                    <button class="btn dropdown-item">All</button>
                </li>
                <li>
                    <button class="dropdown-item">Developers</button>
                </li>
                <li>
                    <button class="dropdown-item"> Devices</button>
                </li>
                <li>
                    <button class="dropdown-item"> Libraries</button>
                </li>
                <li>
                    <button class="dropdown-item">Objects</button>
                </li>
                <li>
                    <button class="dropdown-item">Other</button>
                </li>
                <li>
                    <button class="dropdown-item">Patches</button>
                </li>
                <li>
                    <button class="dropdown-item">Standalones</button>
                </li>
            </ul>
            <input type="text" id="inputSearch" class="form-control" placeholder="Search MOD">
        </div>
    </div>
</div>
-->

<!--new Search Bar-->

<nav class="navbar navbar-light bg-secondary pb-4 pt-4">
    <div class="container justify-content-center">
      <a class="navbar-brand">Search The Database</a>
      <form class="d-flex"><div class="input-group mm-1">
        <button id="myDropdown" class="btn dropdown-toggle" data-bs-toggle="dropdown"> Category</button>
        <ul class="dropdown-menu">
            <li>
                <button class="btn dropdown-item">All</button>
            </li>
            <li>
                <button class="dropdown-item">Developers</button>
            </li>
            <li>
                <button class="dropdown-item"> Devices</button>
            </li>
            <li>
                <button class="dropdown-item"> Libraries</button>
            </li>
            <li>
                <button class="dropdown-item">Objects</button>
            </li>
            <li>
                <button class="dropdown-item">Other</button>
            </li>
            <li>
                <button class="dropdown-item">Patches</button>
            </li>
            <li>
                <button class="dropdown-item">Standalones</button>
            </li>
        </ul>
        <button id="myDropdown_OS" class="btn dropdown-toggle" data-bs-toggle="dropdown"> OS</button>
        <ul class="dropdown-menu">
            <li>
                <button class="btn dropdown-item">All</button>
            </li>
            <li>
                <button class="dropdown-item">macOS</button>
            </li>
            <li>
                <button class="dropdown-item">Linux</button>
            </li>
            <li>
                <button class="dropdown-item">Windows</button>
            </li>
        </ul>
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</nav>

<!--Notes-->

<div class="container">
    
    <div class="row row-cols-1 bg-light p-2">
        <span class="border border-5">
        <div class="col-auto bg-light text-black h2">Notes</div>
        <div class="col-auto bg-light">
            <p class="lead"> 
                Professor Manzo has commissioned this new website! Can it be done? /// Advertise your Cialis here
            </p>
        </div>
    </span>
    </div>
</div>

<!--Featured Items-->

<div class="container">
    <div class="row row-cols-2 bg-light p-2">
        <span class="border border-5">
            <div class="col order-1">
                <div class="container bg-light h2 ">Featured Items</div>
                <div class="container">
                    <div class="row row-cols-1 gy-2">

    <!--Start Featured Item List-->

                        <span class="border border-2">
                            <div class="col bg-light">Super Dope Object</div>
                        </span>
                        <span class="border border-2">
                            <div class="col bg-light">EARMIR V.2</div>
                        </span>
                        <span class="border border-2">
                            <div class="col bg-light">Fart Bot Ultra</div>
                        </span>
                        <span class="border border-2">
                            <div class="col bg-light">Max for Live Plugin 6</div>
                        </span>
                    </div>
                </div>
            </div>
        </span>

<!--News-->
        <span class="border border-5">
            <div class="col order-2">
                <div class="col bg-light h2">News</div>
                <div class="col">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </span>
    </div>
</div>


<!--Footer-->

<div class="fixed-bottom">
    <footer class="footer mt-5 py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-auto me-auto">
                    <span class="text-muted">Copyright Information or Something</span>
                </div>
                <div class="col-auto">
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Contact Us</button>
                    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasBottomLabel">Contact Us</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body small">
                            Contact Information
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

    

<!--Bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" ,
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" ,
        crossorigin="anonymous"></script>

<!--My scripts-->
<script src="js/main.js"></script>
</body>
</html>

