<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='css/main.css'>
    <title>Max Objects Database</title>
</head>

<body>
    <!--Bootstrap navbar-->
    <nav class='navbar navbar-expand-lg'>
        <div class='container-fluid'>
            <a class='navbar-brand' id='navBarTitle' href='/'>
                <img src="/images/max8Icon.png" alt="The max 8 icon." width="45" height="40"><b> Max Objects
                Database</b></a>
            <span class="navbar-text">
                <!-- Modal trigger -->
                    <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signinModal"><b>Sign In</b></a>
            </span>
        </div>
    </nav>

    <h1>Results</h1>
    
</body>